* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

body {
    font-family: "Open Sans";
}

header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 95%;
    background: #dc143c;
}

img {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

header nav {
    text-align: center;
}

header nav ul li {
    list-style: none;
    display: inline-block;
}

header nav ul li a{
    display: block;;
    padding: 10px 10px;
    margin-right: 10px;
    /* width: 10%; */
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-family: "Roboto";
}

header nav ul li a:hover {
    background: #1f242a;
}



